.color1 {
  background-color: #ffb997;
  color: #d3f3ee;
  outline-color: #d3f3ee;
}

ion-content {
  .content {
    margin-top: -5em;
    padding: 0 3em;

    ion-item {
      --background: transparent;
    }

    ion-grid {
      padding: 1em 0;
      ion-fab-button {
        --background: linear-gradient(57.57deg, #de2d3e 7.69%, #fee33f 93.52%);
      }

      a.register-link {
        // font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 11px;
        text-align: center;
        letter-spacing: 0.28em;
        text-decoration: none;
      }
    }
  }
}

.set-btn {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  border-radius: 100px;
  color: white;
}
