<ion-content >
    <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input></ion-input>
    </ion-item >
    <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button (click)="login()" expand="block" color="dark" fill="outline">
        login
    </ion-button>
    <ion-button expand="block" color="dark" fill="outline"  routerLink="/register" routerDirection="forward">
        register
    </ion-button>
</ion-content>
