<ion-content>
    <ion-img src="assets/alaska.png"></ion-img>
    <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input name="username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button (click)="login()" expand="block" color="primary">
        login
    </ion-button>
    <ion-button expand="block" color="danger" routerLink="/register" routerDirection="forward">
        register
    </ion-button>
</ion-content>
