<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="assets/alaska.png"></ion-img>
    <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input name="username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <ion-button (click)="register()" expand="block" color="secondary">
        register
    </ion-button>
</ion-content> -->

<ion-content>
  <ion-button fill="clear" class="back-btn" (click)="navCtrl.pop()">
    <i-feather name="chevron-left"></i-feather>
  </ion-button>
  <ion-img src="assets/bg_register.png"></ion-img>
  <div class="content">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input name="username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        name="password"
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
      ></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Sign Up</h2>
        </ion-col>
        <ion-col>
          <ion-fab horizontal="end" (click)="register()">
            <ion-fab-button>
              <i-feather name="arrow-right"></i-feather>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col class="ion-padding-top">
          <div class="ion-text-center">
            <a class="register-link" (click)="navCtrl.pop()">SIGN IN</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
