<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-canvas">
        <canvas #canvas></canvas>
    </div>

    <ion-button
            color="primary"
            (click)="drawCircle()">
        Draw a circle
    </ion-button>
    <ion-button
            color="primary"
            (click)="drawSquare()">
        Draw a Square
    </ion-button>


    <ion-button
            color="primary"
            (click)="drawTriangle()">
        Draw a Triangle
    </ion-button>

</ion-content>
